body{
    background-color: aquamarine;
}
h1{
    color: blueviolet;
    font-style: oblique;
    text-align: center;
}
h2{
    background-color: blueviolet;
    color: aliceblue;
    font-family: 'Courier New';
    
}
h5{
    text-align: justify;
}
.c1{
	color: red;
	background-color: black;
	border-left: red 5px solid;
	border-right: green 5px solid;
	padding-top: 20px;
}

.c2{
	color: green;
	background-color: yellow;
	font-family: tahoma;
	text-align: center;
	text-decoration: underline;
	word-spacing: 1em;
	line-height: 1.5em;
	margin: auto;
	border: red 5px dotted;
	padding-bottom: 20px;
}